<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper file : query가 들어 있음 -->
<mapper namespace="com.ssafy.mapper.BookmarkMapper">


	<select id="selectAll" resultType="Bookmark">
		select * from bookmark order by bookmark_id desc
	</select>


	<insert id="insert" parameterType="Bookmark">
		insert into bookmark values(null, #{user_id}, #{content_id})
	</insert>


	<delete id="delete" parameterType="string">
		delete from bookmark where bookmark_id=#{bookmard_id}
	</delete>
	
</mapper>