<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper file : query가 들어 있음 -->
<mapper namespace="com.ssafy.mapper.CommentMapper">


	<resultMap id="CommentResult" type="Comment">
		<result column="comment_id" property="commentId"/>
		<result column="qna_id" property="qnaId"/>
		<result column="user_id" property="userId"/>
		<result column="qna_comment" property="comment"/>
	</resultMap>

	<select id="selectAll" resultMap="CommentResult">
		select * from qna_comment order by comment_id desc
	</select>


	<select id="selectOne" parameterType="string" resultMap="CommentResult">
		select * from qna_comment where comment_id=#{commentId}
	</select>

	<select id="selectByContent" parameterType="string" resultMap="CommentResult">
		select * from qna_comment where qna_id=#{qnaId} order by comment_id  desc
	</select>

	<insert id="insert" parameterType="Comment">
		insert into qna_comment values(null, #{qnaId}, #{userId},#{comment})
	</insert>

	<update id="update" parameterType="Comment">
		update qna_comment set qna_comment=#{comment} where comment_id=#{commentId}
	</update>

	<delete id="delete" parameterType="string">
		delete from qna_comment where comment_id=#{commentId}
	</delete>
	
</mapper>