<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper file : query가 들어 있음 -->
<mapper namespace="com.ssafy.mapper.MemberMapper">

	<select id="selectAll" resultType="Member">
		select * from user order by id desc
	</select>

	<select id="selectOne" parameterType="string" resultType="Member">
		select * from user where id=#{id}
	</select>

	<insert id="insert" parameterType="Member">
		insert into user values(#{id}, #{email}, #{pass}, #{name}, #{grade})
	</insert>

	<update id="update" parameterType="Member">
		update user set email= #{email}, pass=#{pass}, name=#{name}, grade=#{grade} where id=#{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from user where id=#{id}
	</delete>
	
</mapper>