<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mapper.MemberMapper">

	<select id="login" parameterType="Member" resultType="Member">
		select id, email, name, grade, pass
		from user
		where id = #{id}
	</select>
	
	<select id="userInfo" parameterType="string" resultType="Member">
		select id,email, name, grade, address
		from user
		where id = #{userid}
	</select>
	
	<select id="getRefreshToken" parameterType="string" resultType="string">
		select token
		from user
		where id = #{id}
	</select>
	
	<update id="saveRefreshToken" parameterType="map">
		update user
		set token = #{token}
		where id = #{id}
	</update>
	
	<update id="deleteRefreshToken" parameterType="map">
		update user
		set token = #{token, jdbcType=VARCHAR}
		where id = #{id}
	</update>

	<insert id="insert" parameterType="Member">
		insert into user(id, email, pass, name, grade, token, address) values(#{id}, #{email}, #{pass}, #{name}, 1, null, #{address})
	</insert>

	<update id="update" parameterType="Member">
		update user
		set pass = #{pass}, email = #{email}, address = #{address}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="String">
		delete from user
		where id = #{id}
	</delete>

	<select id="dupCheck" parameterType="string" resultType="string">
		select id
		from user
		where id = #{id}
	</select>
	
</mapper>