<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper file : query가 들어 있음 -->
<mapper namespace="com.ssafy.mapper.NoticeMapper">

	<resultMap id="noticeResult" type="Notice">
		<result column="notice_id" property="id"/>
		<result column="notice_title" property="title"/>
		<result column="notice_content" property="content"/>
		<result column="user_id" property="userId"/>
	</resultMap>

	<select id="selectAll" resultMap="noticeResult">
		select * from notice order by desc notice_id
	</select>


	<select id="selectOne" parameterType="string" resultMap="noticeResult">
		select * from qna where notice_id=#{noticeId}
	</select>

	<insert id="insert" parameterType="Notice">
		insert into qna values(null, #{qna_title}, #{qna_content}, #{user_id},#{secret})
	</insert>

	<update id="update" parameterType="Notice">
		update qna set qna_title=#{qna_title}, qna_content=#{qna_content}, secret=#{secret} where qna_id=#{qna_id}
	</update>

	<delete id="delete" parameterType="string">
		delete from qna where qna_id=#{qna_id}
	</delete>
	
</mapper>