<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper file : query가 들어 있음 -->
<mapper namespace="com.ssafy.mapper.NoticeMapper">

	<resultMap id="noticeResult" type="Notice">
		<result column="notice_id" property="id"/>
		<result column="notice_title" property="title"/>
		<result column="notice_content" property="content"/>
		<result column="user_id" property="userId"/>
	</resultMap>

	<select id="selectAll" resultMap="noticeResult">
		select * from notice order by notice_id desc
	</select>


	<select id="selectOne" parameterType="string" resultMap="noticeResult">
		select * from notice where notice_id=#{noticeId}
	</select>

	<insert id="insert" parameterType="Notice">
		insert into notice values(null, #{title}, #{content}, #{userId})
	</insert>

	<update id="update" parameterType="Notice">
		update notice set notice_title=#{title}, notice_content=#{content} where notice_id=#{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from notice where notice_id=#{noticeId}
	</delete>

</mapper>