<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper file : query가 들어 있음 -->
<mapper namespace="com.ssafy.mapper.QnAMapper">

	<resultMap id="QnAResult" type="QnA">
		<result column="qna_id" property="id"/>
		<result column="qna_title" property="title"/>
		<result column="qna_content" property="content"/>
		<result column="user_id" property="userId"/>
		<result column="secret" property="secret"/>
	</resultMap>

	<select id="selectAll" resultMap="QnAResult">
		select * from qna order by qna_id desc
	</select>


	<select id="selectOne" parameterType="string" resultMap="QnAResult">
		select * from qna where qna_id=#{id}
	</select>

	<insert id="insert" parameterType="QnA">
		insert into qna values(null, #{title}, #{content}, #{userId},#{secret})
	</insert>

	<update id="update" parameterType="QnA">
		update qna set qna_title=#{title}, qna_content=#{content}, secret=#{secret} where qna_id=#{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from qna where qna_id=#{id}
	</delete>
	
</mapper>